.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 10em;
  min-width: 15em;
  max-width: 25em;
  margin: 0.3em;
  padding: 0.3em;
  background-color: hsl(0, 0%, 30%);
  border: 2px dotted gray;
  border-radius: 10px;
}

#author {
  font-style: italic;
  text-align: end;
}

.button-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2em;

}

.button {
  /* display: inline-flex; */
  /* width: max-content;
  height: auto; */
  padding: 0.3em;
  background-color: hsl(240, 22%, 70%);
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px hsl(240, 22%, 30%);

  color: #000;
  font-size: calc(0.7*(10px + 2vmin));
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}